.navWrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 144px 16px 42px;
	background: black;
	transition: var(--transition);
	animation: tran 1s ease-in-out;
	z-index: 50;
}
@keyframes tran {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}
.navWrapper nav {
	width: 320px;
}
.navWrapper ul {
	width: 100%;
	position: relative;
	background-color: transparent;
	background-image: url(../../images/Shape-1.png), url(../../images/Shape-2.png);
	background-repeat: no-repeat, no-repeat;
	background-size: 135px 111px, 123px 117px;
	background-position: left -10px bottom 13px, right top 56px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}
.navWrapper ul::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 213px;
	height: 213px;
	border-radius: 50%;
	background-image: radial-gradient(circle, #2b2078 0%, #4968b2 51.56%, #66ace9 100%);
	filter: blur(100px);
	z-index: -1;
	transform: translate(-50%, -50%);
}
.navWrapper li {
	width: 100%;
	font-size: 32px;
	line-height: 1.5;
	letter-spacing: -0.15px;
	transition: var(--transition);
}
.navWrapper li a {
	width: 100%;
	display: flex;
	justify-content: center;
}

.Tel {
	display: flex;
	justify-content: center;
}
