.Btn {
	position: relative;
	padding: 17px 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: var(--bg);
	background-clip: padding-box;
	color: var(--white);
	border: 1px solid transparent;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.31;
	transition: var(--transition);
}
.Btn:before,
.Active:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -1px;
	border-radius: inherit;
	background: var(--gradient);
	transition: var(--transition);
}
.Btn:hover,
.Btn:focus {
	transition: var(--transition);
	background: transparent;
}
.Active {
	position: relative;
	padding: 17px 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: transparent;
	background-clip: padding-box;
	color: var(--white);
	border: 1px solid transparent;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.31;
	transition: var(--transition);
}
.Active:hover,
.Active:focus {
	transition: var(--transition);
	background: rgba(0, 0, 0, 0.3);
}
