.Container {
	position: relative;
	padding: 0 16px;
	max-width: 375px;
	margin: 0 auto;
	height: auto;
}

@media screen and (min-width: 1024px) {
	.Container {
		padding: 0 60px;
		max-width: 1024px;
	}
}
@media screen and (min-width: 1440px) {
	.Container {
		padding: 0 160px;
		max-width: 1440px;
	}
}
