.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: -2px;
  color: #ffffff;
  margin-bottom: 16px;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.4px;
  color: #bcc9df;
  margin-bottom: 60px;
}
