.Logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 57px;
	height: 26px;
	z-index: 51;
}
@media screen and (min-width: 1024px) {
	.Logo {
		width: 90px;
		height: 42px;
	}
}
