.Backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: var(--bg);
	opacity: 1;
	z-index: 1000;
	animation: showAn 0.5s ease-in-out;
}
@keyframes showAn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.Wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	height: 40px;
	width: 355px;
	margin: 28px 0;
}

.CloseModal {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	margin-left: auto;
}

@media screen and (max-width: 1023px) {
	.Content form {
		width: 343px;
	}
}
@media screen and (max-width: 374px) {
	.Wrapper {
		width: 320px;
	}
	.Content form {
		width: 320px;
	}
}
@media screen and (min-width: 1024px) {
	.Backdrop {
		padding-top: 0;
	}
	.CloseModal {
		margin-top: 24px;
		margin-right: 16px;
	}
	.Content section {
		margin-bottom: 0;
	}
}
