.Header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	z-index: 50;
}

.HeaderContainer {
	padding: 33px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}

.Tel {
	font-weight: 500;
	text-decoration-line: underline;
	transition: var(--transition);
}
.Tel:hover,
.Tel:focus {
	background: linear-gradient(94deg, #8269e7 5.99%, #6089e9 55.44%, #68c0e8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
@media screen and (min-width: 1024px) {
	.Header {
		position: relative;
	}
	.HeaderContainer {
		padding: 34px 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
@media screen and (min-width: 1440px) {
	.HeaderContainer {
		padding: 47px 0;
	}
}
