@import-normalize; /* bring in normalize.css styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a {
  color: inherit;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
  /* height: 100%; */
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--white);
  background: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg);
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--gradient);
	border-radius: 5px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
:root {
  --gradient: linear-gradient(
    94deg,
    #8269e7 5.99%,
    #6089e9 55.44%,
    #68c0e8 100%
  );
  --bg: #080814;
  --grey: #a4a8bb;
  --white: #ffffff;
  --text-input: #cecece;
  --text: #bcc9df;
  --transition: all 0.5s linear;
}
